.bar-el {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 20px;
}

.search-panel {
    margin-left: 20px;
    font-size: 16pt;
}

button {
    background: white;
    border: solid 1px;
    padding: 5px 10px;
    margin-left: 10px;
}

a {
    width: 200px;
    color: black;
    text-decoration: none;
}

a:hover {
    color: green;
}

.imgwords {
    width: 20%;
    height: 20%;
    margin: 20px;
}

.group_div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.news-card {
    display: inline-block;
    background: white;
    border: solid whitesmoke;
    height: inherit;
    width: 200px;
    height: 200px;
    margin-left: 10px;
    padding: 5px 10px;
    overflow-x: hidden;
    overflow-y: hidden;
    overflow-wrap: break-word;
    word-break: break-all;
}

.news-card {
    word-break: break-all;
    overflow-x: hidden;
    width: 200px;
    height: 200px;
}

.link_div {
    width: 100%;
    word-break: break-all;
    overflow-x: hidden;
    height: 100%;
}

.link_div {
    width: 100%;
}

.cards-container {
    display: inline-block;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 70%;
    margin-left: 1%;
    height: 240px;
    white-space: nowrap;
    z-index: 0;
}

.news-title {
    word-break: break-all;
    height: 100%;
    width: 200px;
}

.news-title:hover {
    color: green;
}


.multiline {
    white-space: pre-wrap;
    word-break: normal;
}

.news-title h3 {
    height: 40%;
    overflow-y: hidden;
}

.news-card h4 {
    color: green;
}

.nav-bar {
    display: flex;
    justify-content: center;
}

.groups-link {
    margin-left: 50px;
}

.iwholder:hover {
    box-shadow: 8px 8px grey;
    z-index: 99;
}