<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="templates/groups.css">
    <title>Document</title>
</head>

<body>
    <div class="nav-bar">
        <h2 class="bar-el hov-link">
            <a href="/cards" style="text-decoration: underline;">Карточки</a></h2>
        <h2 class=" bar-el groups-link hov-link "><a href="/groups">Группы</a></h2>
    </div>
    <div class="search-panel ">
        <h2 class="bar-el ">Поиск</h2>
        <form class="bar-el ">
            <label for="query ">по ключевым словам:</label>
            <input class="bar-el " type="text" name="query " autocomplete="off ">
            <button class="bar-el ">Применить</button>
        </form>
    </div>
    {% for group in groups %}
    <div class="group_div">
        <div class="image_div">
        <img src="{{group.filename}} " class="imgwords">
        </div>
        <div class="image_div">
        <div class="cards-container ">
            {% for news in group.news%}
            <div class="news-card " style="width: 200px;">
                <h3>
                    <div class="link_div">
                        <a href="/post/{{news.id}} ">{{news.title}}</a>
                    </div>
                </h3>
<!--                <h4>{{news.rating}}</h4>-->
<!--                <h5>{{news.date}}</h5>-->
            </div>
            {% endfor %}
        </div>
        </div>
    </div>
    {% endfor %}
</body>
</html>