.post-container {
    padding: 0 25%;
}

h1 {
    text-align: center;
}

h3 {
    display: inline-block;
}

.info {
    display: flex;
    justify-content: center;
}

.rating {
    margin-left: 100px;
}

p {
    line-height: 18pt;
}

.pubdate-cell:hover,
.rating-cell:hover {
    color: green;
}

.pubdate-val,
.rating-val {
    padding-left: 5px;
}

.nav-bar {
    display: flex;
    justify-content: center;
}

.bar-el {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: green;
}

.groups-link {
    margin-left: 50px;
}