<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/templates/post.css">
    <title>Document</title>
</head>

<body>
    <div class="nav-bar">
        <h2 class="bar-el hov-link"><a href="/cards">Карточки</a></h2>
        <h2 class="bar-el groups-link hov-link"><a href="/groups">Группы</a></h2>
    </div>
    <div class="post-container">
        <h1>{{title}}</h1>
        <div class="info">
            <span class="pubdate-cell"><h3>Опубликовано:</h3><h3 class="pubdate-val">{{date}}</h3></span>
            <span class="rating-cell"><h3 class="rating">Рейтинг:</h3><h3 class="rating-val">{{rating}}</h3></span>
        </div>
        <p>{{content}}</p>
    </div>
</body>

</html>